@model IEnumerable<Project>

@{
    ViewBag.Title = "Home Page";
}

<section class="space-lg bg-gradient overflow-hidden">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-md-6 mb-5 mb-md-0 position-relative">
                <h1 class="display-4">Adam O'Neil</h1>
                <p class="lead">
                    I specialize in .NET MVC, as well as database tools and class library development -- both for sale and as <a href="https://github.com/adamosoftware" target="_blank">open source</a>.
                    I love application development with tricky data modeling problems, and have over a decade of experience with SQL Server and .NET.
                </p>
                <p>
                    I'm available to help with your .NET projects. I'm strongest on backend development. When needed, I partner
                    with frontend and other developers to deliver great solutions.
                </p>
                <a href="mailto:adamosoftware@gmail.com" class="btn btn-lg btn-success">Email Me</a>
                <a href="@Url.Action("About")" class="btn btn-lg btn-link text-white">More about me <i class="icon-chevron-right"></i></a>
            </div>
            <!--end of col-->
            <div class="col-12 col-md-6">
                <div class="main-carousel overflow-visible" data-flickity='{ "cellAlign": "center", "contain": true, "prevNextButtons": false, "pageDots":true, "wrapAround":true, "autoPlay":5000, "imagesLoaded":true, "initialIndex":3, "draggable":false }'>
                    @foreach (var project in Model)
                    {
                        <div class="carousel-cell col-11">
                            <div class="card card-sm bg-gradient border-0">
                                <a href="@Url.Action(project.Key, "Projects")">
                                    <img class="card-img-top" src="~/Content/img/Home/@project.LocalImage" alt="@project.Name">
                                </a>
                                <div class="card-footer d-flex justify-content-between bg-white">
                                    <a href="@Url.Action(project.Key, "Projects")" class="h6 m-0">@project.Name</a>
                                    <a target="_blank" href="@project.PublicUrl" data-toggle="tooltip" data-placement="top" title="Open in new tab"><i class="icon-popup"></i></a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>